# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Configuración
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Linters
.mypy_cache/
.ruff_cache/
.pyre/

# Logs
*.log

# DB local
*.sqlite3
*.db
